.name-header {
  background: $dark-background image-url('profile.jpg') center center;
  background-size: cover;
  color: $light-foreground;
  height: 80vh;
  max-height: 640px;
  min-height: 320px;
  position: relative;
  text-align: center;
  width: 100%;

  @include media($medium-screen) {
    min-height: 480px;
  }
}

.name-header__box {
  background-color: rgba($dark-background, .7);
  border: 4px solid $dark-background;
  display: inline-block;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
  top: 70%;
}

.name-header__name {
  @extend %heading;
  padding: 0;
}

.name-header__description {
  @extend %subheading;
  padding: 0;
}
