.name-header {
  align-items: center;
  background: $highlight;
  color: $light-foreground;
  display: flex;
  justify-content: center;
  padding: 32px;
  text-align: center;
  width: 100%;
}

.name-header__box {
  background-color: rgba($dark-background, .7);
  border: 4px solid $dark-background;
  flex: 0 1 auto;
  padding: 0 1em;
}

.name-header__name {
  @extend %heading;
  padding: 0;
}

.name-header__description {
  @extend %subheading;
  padding: 0;
}

.profile-image {
  text-align: center;
}
